@*@model IEnumerable<Online_shopping_project.Models.cloth>
    @using Online_shopping_project.Models

    @{
        ViewBag.Title = "Index";
    }

    <h2>Products:</h2>

    <div class="container">

        @foreach (var item in Model)
        {

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/@item.Image" alt="Card image cap" width="200" height="200">
                    <div class="card-body">
                        <h5 class="card-title">@item.clothName</h5>
                        <p class="card-text">@item.Price</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>


        }


    </div>*@

@model IEnumerable<Online_shopping_project.Models.cloth>
@using Online_shopping_project.Models

@{
    ViewBag.Title = "Index";
}

<h2>Products:</h2>

<div class="container">

    @foreach (var item in Model)
    {

        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/@item.Image" alt="Card image cap" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@item.clothName</h5>
                    <p class="card-text">@item.Price</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>


    }


</div>


