@model Online_shopping_project.Models.Category

@*@{
    ViewBag.Title = "category";
}*@

<table style="text-align:center;">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="
https://th.bing.com/th/id/R.9c254bba728c8061c543bf6052d73969?rik=NFgf2mXY%2bZyUpg&riu=http%3a%2f%2fwww.albertzips.com%2ffileadmin%2f_processed_%2fcsm_Fashion_Men_e98c871163.jpg&ehk=UZCUpAZw3jDmDUDeXAqb8GgnCcmHOVvBz4nYCM7ONiM%3d&risl=&pid=ImgRaw&r=0

" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">Men</h5>

                    <a href="#" class="btn btn-primary">Go to Collection</a>
                </div>
                <a href="#" class="btn btn-primary">Cotton Collections</a>
                <a href="#" class="btn btn-primary">Silk Collections</a>
                <a href="#" class="btn btn-primary">Go to Collection</a>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="
https://tse1.mm.bing.net/th/id/OIP.ZK1B8g37FPJIb_-h-5GZfAHaLH?pid=ImgDet&rs=1 
 
" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">Women</h5>
                    <a href="#" class="btn btn-primary">Go to Collection</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/boy-girl-standing-under-multi-colored-umbrellas-childhood-education-development-montessori-school-concept-isolated-46942424.jpg" width="200" height="200">


                <div class="card-body">
                    <h5 class="card-title">Kids</h5>
                       <a href="#" class="btn btn-primary">Go to Collection</a>
                </div>
            </div>
        </td>
    </tr>
    </table>

